.movie {
  height: 1000px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.movieposter {
  padding: 10px;
  border: 5px dashed #555;
  border-radius: 10px;
  background-color: white;
  max-width: 200px;
  margin: 0 auto;
}
